@import '@styles/miscellaneous/variables.scss';

.section_slider {
  width: 100%;
  height: 100vh;

  @supports (height: 100dvh) {
    height: 100dvh;
  }

  background-color: $section-slider-background-color;

  perspective: 1000px;

  position: relative;

  overflow-x: hidden !important;
}
