@import '@styles/miscellaneous/variables.scss';

.header {
  line-height: 3.3rem;
  font-size: 3.2rem;
  color: $header-color;
}

.description {
  margin-top: 1.5rem;
  font-weight: 400;
}

.paragraph {
  margin-top: 2rem;
  white-space: pre-wrap;
}

.description,
.paragraph,
.list_item {
  line-height: 3.4rem;
  font-size: 2.1rem;

  @media (max-width: $laptop) {
    line-height: 2.9rem;
    font-size: 1.8rem;
  }
}

.devider {
  height: 1px;
  width: 38rem;
  background-color: #838383;
  margin-top: 2rem;
}

.list {
  margin-top: 2.6rem;
  list-style: none;
}

.list_item {
  display: flex;
  justify-content: left;

  &:before {
    content: '';
    display: inline-block;
    height: 9px;
    width: 9px;
    margin-top: 1.5rem;
    margin-right: 2.2rem;
    transform: translateY(-50%);
    border-radius: 100%;
    border: 1px solid #afafaf;
    aspect-ratio: 1/1;
  }
}

.section + .section {
  margin-top: 5rem;
}
