$section-background-color-dark: #2a2a2a;
$section-background-color-light: #2f2f2f;
$section-slider-background-color: #444444;

$text-color: #8a8a8a;

$text-color-light: #b6b6b6;

$header-color: #cacaca;

$testcolorvariable: #10142b;
$testcolorvariable2: #141936;
$testcolorvariable3: #1c234d;

// ==================================
// button colors
// ==================================

$button-red: #c60202;
$button-red-dark: #b20202;
$button-red-background: #800202;

$button-green: #009688;
$button-green-dark: #00796b;
$button-green-background: #00463d;

$button-blue: #4868ad;
$button-blue-dark: #3a538d;
$button-blue-background: #2f4370;

$button-skyblue: #00aced;
$button-skyblue-dark: #007ba8;
$button-skyblue-background: #005574;

$button-grey: #4f4f4f;
$button-grey-dark: #444444;
$button-grey-background: #373737;

// ==================================
// ==================================
// ==================================
