.contact-page {
  &__container {
    min-height: 100vh; // ???????????????????????
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    padding: 8rem 0;
  }

  &__header {
    margin-bottom: 4rem;
  }

  &__title {
    line-height: 1;
    font-size: 4.2rem;
    color: $header-color;
    margin-bottom: 1.9rem;
  }

  &__description {
    line-height: 3.1rem;
    font-size: 1.8rem;
    font-weight: 400;
    color: #afafaf;
  }

  &__main {
    margin-bottom: 10rem;
  }

  &__footer {
  }

  &__footer-header {
    font-weight: 700;
    font-size: 2.2rem;
    line-height: 1.4rem;
    margin-bottom: 2.2rem;
    color: $header-color;
  }

  &__footer-paragraph {
    font-size: 1.8rem;
    line-height: 3.1rem;
    color: #afafaf;
    margin-bottom: 2.2rem;
  }

  &__footer-links {
    display: flex;

    .button {
      margin-right: 1.5rem;
    }
  }
}
