.get-in-touch {
  &__container {
    height: 100vh;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
  }

  &__header {
    margin-bottom: 4rem;
  }

  &__title {
    line-height: 1;
    font-size: 4.2rem;
    color: $header-color;
    margin-bottom: 1.9rem;
  }

  &__description {
    line-height: 3.1rem;
    font-size: 1.8rem;
    font-weight: 400;
    color: #afafaf;
  }

  &__main {
    margin-bottom: 10rem;
  }

  &__info {
    list-style: none;
    display: flex;
    margin-bottom: 1.5rem;
  }

  &__info-item {
    padding: 7px 5px;
    background-color: #3a3a3a;
    display: flex;
    align-items: center;
    justify-content: center;

    svg {
      fill: #7a7a7a;
      height: 14px;
    }

    span {
      margin-left: 5px;
    }

    &:not(:nth-child(1)) {
      margin-left: 7px;
    }
  }

  &__input {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 15px 12px;
    border-bottom: 1px solid #797979;
    margin-bottom: 1.5rem;

    input {
      background-color: transparent;
      font-weight: 700;
      line-height: 3.1rem;
      font-size: 1.8rem;
      color: #afafaf;
    }

    svg {
      fill: #7a7a7a;
      height: 20px;
      margin-right: 9px;
    }
  }

  &__form-contorls {
    .button {
      margin-right: 1.5rem;
    }
  }

  &__footer {
  }

  &__footer-header {
    font-weight: 700;
    font-size: 2.2rem;
    line-height: 1.4rem;
    margin-bottom: 2.2rem;
    color: $header-color;
  }

  &__footer-paragraph {
    font-size: 1.8rem;
    line-height: 3.1rem;
    color: #afafaf;
    margin-bottom: 2.2rem;
  }

  &__footer-links {
    display: flex;

    .button {
      margin-right: 1.5rem;
    }
  }
}
