.project {
  &__header,
  &__footer {
    margin: 0 20px;
  }

  &__title {
    color: $header-color;
    font-size: 4.2rem;
    line-height: 6.1rem;
    font-weight: 700;
    letter-spacing: -2px;
    text-transform: lowercase;
    margin-bottom: 1rem;
  }

  &__description {
    font-size: 1.825rem;
    font-family: Lato;
    line-height: 3.15rem;
    word-spacing: 0.5px;
    font-weight: 400;
  }

  &__links {
    margin-top: 3.5rem;
    display: flex;
    justify-content: space-between;
  }

  &__links-right {
    display: flex;

    .button:not(:nth-child(1)) {
      margin-left: 0.8rem;
    }
  }

  &__main {
    margin-top: 3rem;
  }

  &__footer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
}
