.project {
  &__header,
  &__main,
  &__footer {
    margin: 0 20px;
  }

  &__header {
    margin-top: 8rem;
  }

  &__title {
    color: $header-color;
    font-size: 4.2rem;
    line-height: 6.1rem;
    font-weight: 700;
    letter-spacing: -2px;
    text-transform: lowercase;
    margin-bottom: 1rem;
  }

  &__description {
    font-size: 1.825rem;
    font-family: Lato;
    line-height: 3.15rem;
    word-spacing: 0.5px;
    font-weight: 400;
  }

  &__links {
    margin-top: 3.5rem;
    display: flex;
    justify-content: space-between;
  }

  &__links-right {
    display: flex;

    .button:not(:nth-child(1)) {
      margin-left: 0.8rem;
    }
  }

  &__main {
    margin-top: 3rem;
    margin-bottom: 8.7rem;
  }

  &__slider {
    display: flex;
    flex-direction: column;

    height: 64rem;

    background-color: grey;

    box-shadow: 12px 12px 0 rgb(black, 15%);

    &-bar {
      height: 24px;
      background-color: #d9d9d9;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;

      h2 {
        color: $text-color;
        text-transform: uppercase;
        font-size: 10px;
        font-weight: 700;
        line-height: 10px;
      }
    }

    &-item {
      width: 100%;
      height: 100%;
      object-fit: cover;
      position: relative;
    }
  }

  &__slider-controls {
    margin-top: 4.6rem;
    margin-bottom: 2.8rem;
    height: 1.7rem;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__slider-controls-item {
    cursor: pointer;
    background-color: #3f3f3f;
    border-radius: 100%;
    height: 0.95rem;
    width: 0.95rem;

    transform-origin: center;

    transition: all 0.3s ease-in-out;

    &.active {
      transform: scale(1.7);
      background-color: #6a6a6a;
    }

    &:not(:nth-child(1)) {
      margin-left: 1.7rem;
    }
  }

  &__section {
    &-header {
      line-height: 3.3rem;
      font-size: 3.2rem;
      color: $header-color;
    }

    &-description {
      margin-top: 1.5rem;
      font-weight: 400;
    }

    &-description,
    &-paragraph,
    &-list-item {
      line-height: 3.4rem;
      font-size: 2.1rem;
    }

    &-devider {
      height: 1px;
      width: 38rem;
      background-color: #838383;
      margin-top: 2rem;
      margin-bottom: 2.6rem;
    }

    &-list {
      list-style: none;
    }

    &-list-item {
      display: flex;
      justify-content: left;
      align-items: center;

      &:before {
        content: '';
        display: inline-block;
        height: 9px;
        width: 9px;
        margin-right: 2.2rem;
        border-radius: 100%;
        border: 1px solid #afafaf;
      }
    }
  }

  &__section + &__section {
    margin-top: 5rem;
  }
}
