@import '@styles/miscellaneous/variables.scss';

.greeting {
  line-height: 4.9rem;
  font-weight: 700;
  font-size: 2.9rem;
  letter-spacing: -1.5px;
  color: #cacaca;

  span {
    min-height: 4.9rem;
  }

  @media (max-width: $tablet-s) {
    font-size: 2.6rem;
  }
}

.description {
  font-size: 1.8rem;
  line-height: 3.3rem;
  font-weight: 400;
  font-family: Lato, 'Wix Madefor Display';

  span {
    min-height: 3.3rem;
  }
}

.greeting,
.description {
  text-align: center;
  white-space: pre-wrap;
  transition: opacity 0.135s ease-out, transform 0.135s cubic-bezier(0.79, 0, 0.71, 1);
  opacity: 1;

  &:nth-child(1) {
    transition-delay: 0.4s;
  }

  &:nth-child(2) {
    transition-delay: 0.48s;
  }

  &:nth-child(3) {
    transition-delay: 0.56s;
  }

  &:nth-child(4) {
    transition-delay: 0.64s;
  }

  &:nth-child(5) {
    transition-delay: 0.72s;
  }

  &:nth-child(6) {
    transition-delay: 0.8s;
  }

  &:nth-child(6) {
    transition-delay: 0.88s;
  }

  a {
    display: inline-block;
    pointer-events: none;
  }

  span {
    vertical-align: bottom;
  }

  &.active {
    a {
      pointer-events: all;
    }
  }

  &.exit {
    opacity: 0;
    transform: translateY(-40px);
  }
}

.link {
  line-height: 3.3rem;
  font-size: 1.9rem;
}
