@import '@styles/miscellaneous/variables.scss';

.page_container {
  display: flex;
  flex-direction: column;
  max-width: 1010px;
  min-height: 100vh;
  margin: 0 auto;
  padding: 8rem 2rem 6rem;
  overflow: hidden; // to include children margin into height

  @supports (min-height: 100dvh) {
    min-height: 100dvh;
  }

  @media (max-width: $laptop-xl) {
    max-width: 880px;
  }

  @media (max-width: $laptop-l) {
    max-width: 800px;
  }

  @media (max-width: 1300px) {
    max-width: 760px;
  }

  @media (max-width: 1100px) {
    max-width: 700px;
  }

  @media (max-width: 900px) {
    max-width: 600px;
  }

  @media (max-width: 800px) {
    max-width: 500px;
    padding: 4.2rem 2rem;
  }
}

.centered {
  justify-content: center;
}
