@import '@styles/miscellaneous/variables.scss';

.about_section {
  position: relative;

  display: grid;
  overflow: hidden;

  grid-template-rows: 1fr auto 1fr;

  @media (max-width: $tablet), (max-height: 625px) {
    grid-template-rows: auto auto;
    align-content: center;
    justify-content: center;
    padding: 5rem 0;
  }

  @media (max-width: $tablet) and (max-height: 625px) {
    padding: 5rem 0 12.5rem;
  }
}
