.arrow {
  &__right,
  &__left {
    position: fixed;

    z-index: 1000;

    min-width: 24rem;
    height: 47rem;

    top: 50%;
    transform: translateY(-50%);

    transition: transform 0.7s cubic-bezier(0.7, 0, 0.25, 1) 0.25s,
      opacity 0.2s ease-out 0.5s;

    display: flex;
    align-items: center;
  }

  // ==============================
  // ===== Right Arrow Styles =====
  // ==============================

  &__right {
    right: 0;
    padding-right: 8rem;
    justify-content: flex-end;

    transform: translate(100%, -50%);

    .arrow__arrow {
      &::after {
        right: 0;

        transform: translateY(-100%) rotate(-45deg);
      }

      &::before {
        right: 0;

        transform: rotate(45deg);
      }
    }

    .arrow__text {
      transform: translateX(30px);
    }

    .arrow__link {
      right: 0;

      &:hover {
        & ~ .arrow__arrow {
          &::after {
            transform: translateY(-100%) rotate(-30deg);
          }

          &::before {
            transform: rotate(30deg);
          }
        }

        & ~ .arrow__text {
          opacity: 1;
          transform: translateX(0px);
        }
      }
    }

    &-exit-active,
    &-exit-done,
    &-enter-active,
    &-appear-active {
      .arrow__link {
        right: -100%;
      }
    }

    &-exit-active,
    &-exit-done {
      transform: translate(100%, -50%);
      opacity: 0;
    }

    &-enter-active,
    &-enter-done,
    &-appear-active,
    &-appear-done {
      transform: translate(0, -50%);
    }

    &-appear {
      transition-delay: 400ms;
    }

    .arrow__link {
      &-exit-active,
      &-exit-done {
        & ~ .arrow__arrow {
          transform: translateX(12rem);

          &::after,
          &::before {
            height: 25px;
          }

          &::after {
            transform: translateY(-100%) rotate(-90deg);
          }

          &::before {
            transform: rotate(90deg);
          }
        }

        & ~ .arrow__text {
          transition: opacity 0.2s ease-out 0.5s;
          transform: translateX(0px) !important;
        }
      }
    }
  }

  // =============================
  // =============================
  // =============================

  // =============================
  // ===== Left Arrow Styles =====
  // =============================

  &__left {
    left: 0;
    padding-left: 8rem;
    justify-content: flex-start;

    transform: translate(-100%, -50%);

    .arrow__arrow {
      &::after {
        left: 0;

        transform: translateY(-100%) rotate(45deg);
      }

      &::before {
        left: 0;

        transform: rotate(-45deg);
      }
    }

    .arrow__text {
      transform: translateX(-30px);
    }

    .arrow__link {
      left: 0;

      &:hover {
        & ~ .arrow__arrow {
          &::after {
            transform: translateY(-100%) rotate(30deg);
          }

          &::before {
            transform: rotate(-30deg);
          }
        }

        & ~ .arrow__text {
          opacity: 1;
          transform: translateX(0px);
        }
      }
    }

    &-exit-active,
    &-exit-done,
    &-enter-active,
    &-appear-active {
      .arrow__link {
        left: -100%;
      }
    }

    &-exit-active,
    &-exit-done {
      transform: translate(-100%, -50%);
      opacity: 0;
    }

    &-enter-active,
    &-enter-done,
    &-appear-active,
    &-appear-done {
      transform: translate(0, -50%);
    }

    &-appear {
      transition-delay: 400ms;
    }

    .arrow__link {
      &-exit-active,
      &-exit-done {
        & ~ .arrow__arrow {
          transform: translateX(-12rem);

          &::after,
          &::before {
            height: 25px;
          }

          &::after {
            transform: translateY(-100%) rotate(90deg);
          }

          &::before {
            transform: rotate(-90deg);
          }
        }

        & ~ .arrow__text {
          transition: opacity 0.2s ease-out 0.5s;
          transform: translateX(0px) !important;
        }
      }
    }
  }

  // =============================
  // =============================
  // =============================

  &__link {
    @include link;

    position: absolute;
    top: 0;
    z-index: 3;
    display: block;
    width: 100%;
    height: 100%;
  }

  &__arrow {
    width: 36px;
    height: 36px;
    position: relative;

    z-index: 1;

    transition: transform 0.2s ease-out 0.2s;

    &::after,
    &::before {
      position: absolute;
      content: '';
      width: 2px;
      height: 36px;
      background-color: #7a7a7a;
      // border-radius: 2px;

      transition: transform 0.16s ease-out;
    }

    &::after {
      transform-origin: calc(50%) calc(100% - 1px);
      top: calc(50% + 1px);
    }

    &::before {
      transform-origin: calc(50%) calc(1px);
      top: calc(50% - 1px);
    }
  }

  &__text {
    z-index: 1;

    opacity: 0;

    font-size: 1.84rem;
    font-weight: 700;
    line-height: 0;

    transition: opacity 0.1s ease 0.125s, transform 0.3s cubic-bezier(0, 0, 0, 1) 0.125s;

    &.active {
      color: red;
    }
  }

  &__button {
    position: fixed;
    top: 100px;
    right: 100px;
    z-index: 1000;
    width: 100px;
    height: 50px;
  }
}
