.burger {
  cursor: pointer;

  @media (max-width: $tablet) {
    &::after {
      content: '';
      position: absolute;
      z-index: -1;
      top: 50%;
      left: 50%;
      height: 6rem;
      width: 6rem;
      background-color: $menu-button-color;
      border-radius: 100%;
      transform: translate(-50%, -50%);
    }
  }

  &__container {
    position: fixed;
    top: 5rem;
    right: 8rem;
    z-index: 1100;

    @media (max-width: $laptop-l) {
      top: 3.5rem;
      right: 4rem;
    }

    @media (max-width: $laptop-l) {
      right: 3rem;
    }

    @media (max-width: $tablet) {
      top: auto;
      right: 2rem;
      bottom: 3.5rem;
      padding: 1rem;
      transform: translateX(100px) rotate(270deg);
    }
  }

  &__click {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
  }

  .burger__bar {
    height: 2px;
    width: 42px;
    background-color: #7a7a7a;
    margin: 8px;
    transition: transform 0.45s cubic-bezier(0.43, 0.77, 0.15, 1.5),
      background-color 0.3s ease; // background-color?
    transform: translateX(150px);

    @media (max-width: $tablet) {
      width: 24px;
      transform: translateX(0);
    }
  }

  &-exit,
  &-enter,
  &-appear,
  &-exit-done {
    cursor: auto;

    .burger__bar {
      transition: transform 0.35s cubic-bezier(0.69, 0.03, 0.03, 0.93);
    }
  }

  &-exit,
  &-enter,
  &-appear {
    .burger__bar {
      &:nth-child(1) {
        transition-delay: 0.52s;
      }

      &:nth-child(2) {
        transition-delay: 0.555s;
      }

      &:nth-child(3) {
        transition-delay: 0.59s;
      }
    }
  }

  &-enter-active,
  &-enter-done,
  &-appear-active,
  &-appear-done {
    .burger__bar {
      transform: translateX(0px);
    }

    @media (max-width: $tablet) {
      animation: burger-rotate-in 0.7s cubic-bezier(0.2, 0.86, 0.35, 1) forwards !important;
    }
  }

  &-enter-active,
  &-appear-active {
    @media (hover: hover) {
      &:hover {
        .burger__bar {
          transform: translateX(0px) !important;
        }
      }
    }
  }

  &-exit-active,
  &-exit-done {
    .burger__bar {
      transform: translateX(150px) !important;
    }

    @media (hover: hover) {
      &:hover {
        .burger__bar {
          transform: translateX(150px) !important;
        }
      }
    }

    @media (max-width: $tablet) {
      animation: burger-rotate-out 0.7s cubic-bezier(0.2, 0.86, 0.35, 1) forwards !important;

      .burger__bar {
        transform: translateX(0px) !important;
      }
    }
  }

  &-enter-done,
  &-exit-done,
  &-appear-done {
  }

  @media (hover: hover) {
    &:hover {
      .burger__bar {
        &:nth-child(1) {
          transform: translateY(-4px);
        }

        &:nth-child(3) {
          transform: translateY(4px);
        }
      }
    }
  }

  @media (hover: hover) {
    &:hover {
      &.burger__toggle-enter-done {
        .burger__bar {
          &:nth-child(1) {
            transform: translateY(10px) rotate(50deg) scale(1.5) !important;
          }

          &:nth-child(3) {
            transform: translateY(-10px) rotate(-50deg) scale(1.5) !important;
          }
        }
      }
    }
  }

  // =====================================================

  &__toggle-exit,
  &__toggle-enter {
    cursor: auto;
    pointer-events: none !important;

    & > .burger__click {
      display: block;
    }
  }

  // =====================================================
  // Animation enter behaviour
  // =====================================================

  &__toggle-enter-active,
  &__toggle-enter-done {
    animation: burger-in 0.95s cubic-bezier(0.52, 0, 0.52, 1) forwards;

    .burger__bar {
      &:nth-child(1) {
        animation: top-bar-in 0.95s cubic-bezier(0.37, 0.09, 0.16, 1.44);
        transform: translateY(10px) rotate(45deg) scale(1.5);
      }

      &:nth-child(2) {
        animation: middle-bar-in 0.95s cubic-bezier(0.37, 0.09, 0.16, 1.44);
        opacity: 0;
      }

      &:nth-child(3) {
        animation: bottom-bar-in 0.95s cubic-bezier(0.37, 0.09, 0.16, 1.44);
        transform: translateY(-10px) rotate(-45deg) scale(1.5);
      }
    }
  }

  // =====================================================
  // =====================================================
  // =====================================================

  // =====================================================
  // Animation exit behaviour
  // =====================================================

  &__toggle-exit-active,
  &__toggle-exit-done {
    animation: burger-out 0.7s cubic-bezier(0.2, 0.86, 0.35, 1) forwards;

    .burger__bar {
      &:nth-child(1) {
        animation: top-bar-out 0.7s cubic-bezier(0.37, 0.09, 0.16, 1.44);
      }

      &:nth-child(2) {
        animation: middle-bar-out 0.7s cubic-bezier(0.37, 0.09, 0.16, 1.44);
      }

      &:nth-child(3) {
        animation: bottom-bar-out 0.7s cubic-bezier(0.37, 0.09, 0.16, 1.44);
      }
    }
  }

  // =====================================================
  // =====================================================
  // =====================================================
}
