.burger {
  position: fixed;
  top: 5rem;
  right: 8rem;
  z-index: 1100;
  padding: 5px 4px;
  cursor: pointer;

  div {
    height: 2px;
    width: 42px;
    background-color: #7a7a7a;
    margin: 8px;
    transition: transform 0.45s cubic-bezier(0.43, 0.77, 0.15, 1.5),
      background-color 0.3s ease; // background-color?
    transform: translateX(150px);
  }

  &-exit,
  &-enter,
  &-appear {
    cursor: auto;
    pointer-events: none;

    div {
      transition: transform 0.35s cubic-bezier(0.69, 0.03, 0.03, 0.93);

      &:nth-child(1) {
        transition-delay: 0.52s;
      }

      &:nth-child(2) {
        transition-delay: 0.555s;
      }

      &:nth-child(3) {
        transition-delay: 0.59s;
      }
    }
  }

  &-enter-active,
  &-enter-done,
  &-appear-active,
  &-appear-done {
    div {
      transform: translateX(0px);
    }
  }

  &-enter-active,
  &-appear-active {
    &:hover {
      div {
        transform: translateX(0px) !important;
      }
    }
  }

  &-exit-active,
  &-exit-done {
    div {
      transform: translateX(150px) !important;
    }

    &:hover {
      div {
        transform: translateX(150px) !important;
      }
    }
  }

  &:hover {
    div {
      &:nth-child(1) {
        transform: translateY(-4px);
      }

      &:nth-child(3) {
        transform: translateY(4px);
      }
    }
  }

  &:hover {
    &.burger__toggle-enter-done {
      div {
        &:nth-child(1) {
          transform: translateY(10px) rotate(50deg) scale(1.5) !important;
        }

        &:nth-child(3) {
          transform: translateY(-10px) rotate(-50deg) scale(1.5) !important;
        }
      }
    }
  }

  // =====================================================
  // Animation enter behaviour
  // =====================================================

  &__toggle-enter-active,
  &__toggle-enter-done {
    animation: burger-in 0.95s cubic-bezier(0.52, 0, 0.52, 1) forwards;

    div {
      &:nth-child(1) {
        animation: top-bar-in 0.95s cubic-bezier(0.37, 0.09, 0.16, 1.44);
        transform: translateY(10px) rotate(45deg) scale(1.5);
      }

      &:nth-child(2) {
        animation: middle-bar-in 0.95s cubic-bezier(0.37, 0.09, 0.16, 1.44);
        opacity: 0;
      }

      &:nth-child(3) {
        animation: bottom-bar-in 0.95s cubic-bezier(0.37, 0.09, 0.16, 1.44);
        transform: translateY(-10px) rotate(-45deg) scale(1.5);
      }
    }
  }

  &__toggle-enter {
    cursor: auto;
    pointer-events: none !important;
  }

  // =====================================================
  // =====================================================
  // =====================================================

  // =====================================================
  // Animation exit behaviour
  // =====================================================

  &__toggle-exit-active,
  &__toggle-exit-done {
    animation: burger-out 0.7s cubic-bezier(0.2, 0.86, 0.35, 1) forwards;

    div {
      &:nth-child(1) {
        animation: top-bar-out 0.7s cubic-bezier(0.37, 0.09, 0.16, 1.44);
      }

      &:nth-child(2) {
        animation: middle-bar-out 0.7s cubic-bezier(0.37, 0.09, 0.16, 1.44);
      }

      &:nth-child(3) {
        animation: bottom-bar-out 0.7s cubic-bezier(0.37, 0.09, 0.16, 1.44);
      }
    }
  }

  &__toggle-exit {
    cursor: auto;
    pointer-events: none !important;
  }

  // =====================================================
  // =====================================================
  // =====================================================
}

@keyframes burger-in {
  0% {
    transform: rotate(180deg);
  }

  21% {
    transform: rotate(-5deg);
  }

  48% {
    transform: rotate(0deg);
  }

  71% {
    transform: rotate(185deg);
  }

  100% {
    transform: rotate(180deg);
  }
}

@keyframes burger-out {
  0% {
    transform: rotate(180deg);
  }

  45% {
    transform: rotate(-10deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

// ========================
// ========================
// ========================

@keyframes middle-bar-in {
  0% {
    opacity: 1;
  }

  48% {
    opacity: 1;
  }

  49% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}

@keyframes top-bar-in {
  0% {
    transform: translateY(0px);
  }

  48% {
    transform: translateY(9px);
  }

  100% {
    transform: translateY(10px) rotate(45deg) scale(1.5);
  }
}

@keyframes bottom-bar-in {
  0% {
    transform: translateY(0px);
  }

  48% {
    transform: translateY(-9px);
  }

  100% {
    transform: translateY(-10px) rotate(-45deg) scale(1.5);
  }
}

// ========================
// ========================
// ========================

@keyframes middle-bar-out {
  0% {
    opacity: 0;
  }

  51% {
    opacity: 0;
  }

  52% {
    opacity: 1;
  }

  100% {
    opacity: 1;
  }
}

@keyframes top-bar-out {
  0% {
    transform: translateY(10px) rotate(45deg) scale(1.5);
  }

  52% {
    transform: translateY(9px);
  }

  100% {
    transform: translateY(0px);
  }
}

@keyframes bottom-bar-out {
  0% {
    transform: translateY(-10px) rotate(-45deg) scale(1.5);
  }

  52% {
    transform: translateY(-9px);
  }

  100% {
    transform: translateY(0px);
  }
}
