@mixin button-colors($main, $dark, $background) {
  .button__content {
    background-color: $main;
  }

  .button__left,
  .button__middle,
  .button__right {
    &:hover {
      & ~ .button__content {
        background-color: $dark;
      }
    }
  }

  .button__background {
    background-color: $background;
  }
}

.button {
  height: 47px;
  position: relative;

  &__click {
    .button__content {
      transform: translateY(2px) !important;
    }

    .button__shadow {
      transform: translateY(-3px) !important;
    }
  }

  &__left,
  &__middle,
  &__right {
    cursor: pointer;
    position: absolute;

    display: inline-block;
    height: 100%;
    width: 33.33333%;
    z-index: 4;
  }

  &__left {
    left: 0;

    &:hover {
      & ~ .button__content {
        transform: skewY(-1deg) translate3d(0px, -0.5px, 0px);
        background-color: $button-red-dark;
      }

      & ~ .button__shadow {
        transform: skewY(1deg) translate3d(0px, -0.5px, 0px);
      }
    }
  }

  &__middle {
    left: 33.3333%;

    &:hover {
      & ~ .button__content {
        transform: translateY(0.75px);
      }

      & ~ .button__shadow {
        transform: translateY(-1px);
      }
    }
  }

  &__right {
    left: 66.6666%;

    &:hover {
      & ~ .button__content {
        transform: skewY(1deg) translate3d(0px, -0.5px, 0px);
      }

      & ~ .button__shadow {
        transform: skewY(-1deg) translate3d(0px, -0.5px, 0px);
      }
    }
  }

  &__content {
    position: relative;
    z-index: 3;
    padding: 0 4rem;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__icon {
  }

  &__text {
    color: white;

    line-height: 1;
    font-weight: 700;
    font-size: 1.2rem;
  }

  &__background {
    top: 3px;
    z-index: 2;
  }

  &__shadow {
    top: 7px;
    z-index: 1;

    background-color: black;
    opacity: 0.25;
  }

  &__content,
  &__background,
  &__shadow {
    height: 40px;

    border-radius: 3px;

    transition: transform 0.12s ease-out 0s, background-color 0.12s ease-out 0s;
  }

  &__background,
  &__shadow {
    position: absolute;
    width: 100%;
  }

  // colors

  &.red {
    @include button-colors($button-red, $button-red-dark, $button-red-background);
  }

  &.green {
    @include button-colors($button-green, $button-green-dark, $button-green-background);
  }

  &.skyblue {
    @include button-colors(
      $button-skyblue,
      $button-skyblue-dark,
      $button-skyblue-background
    );
  }

  &.blue {
    @include button-colors($button-blue, $button-blue-dark, $button-blue-background);
  }

  &.grey {
    @include button-colors($button-grey, $button-grey-dark, $button-grey-background);
  }
}
