.image-slider {
  $c: image-slider;
  // ==========================
  // ==========================
  // ==========================

  display: flex;
  flex-direction: column;

  // height: 64rem;

  aspect-ratio: 9.3/5.9;

  background-color: grey;

  box-shadow: 8px 8px 0 rgb(black, 15%);

  &__bar {
    height: 24px;
    background-color: #d9d9d9;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    @media (max-width: $tablet) {
      height: 20px;
    }

    h2 {
      color: $text-color;
      text-transform: uppercase;
      font-size: 10px;
      font-weight: 700;
      line-height: 10px;
    }
  }

  &__frame {
    position: relative;
    overflow: hidden;
    flex: 1;
  }

  &__item {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    &-loader {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background-color: $section-slider-background-color;

      display: flex;
      align-items: center;
      justify-content: center;
      opacity: 1;

      transition: all 0.2s ease-in-out;

      &-exit-active {
        opacity: 0;
      }

      &-exit-done {
        opacity: 0;
        visibility: hidden;
      }

      &-enter-active,
      &-enter-done {
        opacity: 1;
      }
    }

    svg {
      height: 35px;
      fill: $text-color-light;
    }

    &.left {
      &.#{$c}__item {
        &-enter,
        &-enter-active,
        &-enter-done {
          animation: image-slide-in 800ms forwards cubic-bezier(0.75, 0, 0.25, 1);
        }

        &-enter + .#{$c}__item,
        &-enter-active + .#{$c}__item,
        &-enter-done + .#{$c}__item {
          animation: image-slide-out 800ms forwards cubic-bezier(0.75, 0, 0.25, 1);
        }
      }
    }

    &.right {
      &.#{$c}__item {
        &-enter,
        &-enter-active,
        &-enter-done {
          animation: image-slide-out 800ms forwards reverse cubic-bezier(0.75, 0, 0.25, 1);
        }

        &-enter + .#{$c}__item,
        &-enter-active + .#{$c}__item,
        &-enter-done + .#{$c}__item {
          animation: image-slide-in 800ms forwards reverse cubic-bezier(0.75, 0, 0.25, 1);
        }
      }
    }
  }

  &__arrow {
    position: absolute;
    height: 100%;
    width: 15rem;
    top: 0;

    @media (max-width: $laptop) {
      width: 10rem;
    }

    @media (max-width: $tablet) {
      width: 7.5rem;
    }

    &--left {
      left: 0;

      .#{$c}__arrow-container {
        justify-content: flex-start;
        padding-left: 3rem;

        @media (max-width: $tablet) {
          padding-left: 2rem;
        }
      }
    }

    &--right {
      right: 0;

      .#{$c}__arrow-container {
        justify-content: flex-end;
        padding-right: 3rem;

        @media (max-width: $tablet) {
          padding-right: 2rem;
        }
      }
    }

    &-button {
      @include btn;

      display: block;
      height: 100%;
      width: 100%;

      position: absolute;
      top: 0;

      cursor: pointer;

      z-index: 2;
    }

    &-container {
      display: flex;
      align-items: center;
      width: 100%;
      height: 100%;

      transition: transform 0.7s cubic-bezier(0.7, 0, 0.25, 1) 0.25s,
        opacity 0.2s ease-out 0.5s;
    }

    &-icon {
      position: relative;

      width: 20px;
      height: 20px;
      position: relative;

      z-index: 1;

      transition: transform 0.2s ease-out 0.2s;

      @media (max-width: $tablet) {
        width: 15px;
        height: 15px;
      }

      &::after,
      &::before {
        position: absolute;
        content: '';
        width: 2px;
        height: 20px;
        background-color: rgb(106, 106, 106);
        opacity: 0.75;

        transition: all 0.16s ease-out;

        @media (max-width: $tablet) {
          height: 15px;
        }
      }

      &::after {
        transform-origin: calc(50%) calc(100% - 1px);
        top: calc(50% + 1px);
      }

      &::before {
        transform-origin: calc(50%) calc(1px);
        top: calc(50% - 1px);
      }
    }

    &-shadow {
      position: absolute;
      top: -50%;
      height: 200%;
      width: 1px;
      box-shadow: 0px 0px 100px 0px black;

      transition: all 0.3s ease-out;
    }

    // ==============================
    // ===== Left Arrow Styles ======
    // ==============================

    &--left {
      .#{$c}__arrow-icon {
        &::after {
          left: 0;

          transform: translateY(-100%) rotate(45deg);
        }

        &::before {
          left: 0;

          transform: rotate(-45deg);
        }
      }

      .#{$c}__arrow-button {
        left: 0;
      }

      .#{$c}__arrow-shadow {
        left: -1px;
      }

      @media (hover: hover) {
        &:hover {
          .#{$c}__arrow-container {
            .#{$c}__arrow-icon {
              &::after {
                transform: translateY(-100%) rotate(30deg);
                opacity: 1;
              }

              &::before {
                transform: rotate(-30deg);
                opacity: 1;
              }
            }
          }

          .#{$c}__arrow-shadow {
            box-shadow: 0px 0px 100px 30px black;
          }
        }

        &:hover {
          .#{$c}__arrow-container {
            &-exit-active,
            &-exit-done {
              .#{$c}__arrow-icon {
                &::after {
                  transform: translateY(-100%) rotate(90deg);
                }

                &::before {
                  transform: rotate(-90deg);
                }
              }
            }

            &-enter-active,
            &-appear-active {
              .#{$c}__arrow-icon {
                &::after {
                  transform: translateY(-100%) rotate(45deg);
                }

                &::before {
                  transform: rotate(-45deg);
                }
              }
            }

            &-exit-active,
            &-exit-done,
            &-enter-active,
            &-appear-active {
              & ~ .#{$c}__arrow-shadow {
                box-shadow: 0px 0px 100px 0px black;
              }
            }
          }
        }
      }

      .#{$c}__arrow-container {
        &-exit-active,
        &-exit-done,
        &-enter-active,
        &-appear-active {
          .#{$c}__arrow-button {
            left: -100%;
          }
        }
      }

      .#{$c}__arrow-container {
        &-exit-active,
        &-exit-done {
          transform: translateX(-100%);
          opacity: 0;
        }
      }

      .#{$c}__arrow-button {
        &-exit-active,
        &-exit-done {
          & ~ .#{$c}__arrow-icon {
            transform: translateX(-12rem);

            &::after,
            &::before {
              height: 20px;

              @media (max-width: $tablet) {
                height: 15px;
              }
            }

            &::after {
              transform: translateY(-100%) rotate(90deg);
            }

            &::before {
              transform: rotate(-90deg);
            }
          }
        }
      }
    }

    // ==============================
    // ==============================
    // ==============================

    // ==============================
    // ===== Right Arrow Styles =====
    // ==============================

    &--right {
      .#{$c}__arrow-icon {
        &::after {
          right: 0;

          transform: translateY(-100%) rotate(-45deg);
        }

        &::before {
          right: 0;

          transform: rotate(45deg);
        }
      }

      .#{$c}__arrow-button {
        right: 0;
      }

      .#{$c}__arrow-shadow {
        right: -1px;
      }

      @media (hover: hover) {
        &:hover {
          .#{$c}__arrow-container {
            .#{$c}__arrow-icon {
              &::after {
                transform: translateY(-100%) rotate(-30deg);
                opacity: 1;
              }

              &::before {
                transform: rotate(30deg);
                opacity: 1;
              }
            }
          }

          .#{$c}__arrow-shadow {
            box-shadow: 0px 0px 100px 30px black;
          }
        }

        &:hover {
          .#{$c}__arrow-container {
            &-exit-active,
            &-exit-done {
              .#{$c}__arrow-icon {
                &::after {
                  transform: translateY(-100%) rotate(-90deg);
                }

                &::before {
                  transform: rotate(90deg);
                }
              }
            }

            &-enter-active,
            &-appear-active {
              .#{$c}__arrow-icon {
                &::after {
                  transform: translateY(-100%) rotate(-45deg);
                }

                &::before {
                  transform: rotate(45deg);
                }
              }
            }

            &-exit-active,
            &-exit-done,
            &-enter-active,
            &-appear-active {
              & ~ .#{$c}__arrow-shadow {
                box-shadow: 0px 0px 100px 0px black;
              }
            }
          }
        }
      }

      .#{$c}__arrow-container {
        &-exit-active,
        &-exit-done,
        &-enter-active,
        &-appear-active {
          .#{$c}__arrow-button {
            right: -100%;
          }
        }
      }

      .#{$c}__arrow-container {
        &-exit-active,
        &-exit-done {
          transform: translateX(100%);
          opacity: 0;
        }
      }

      .#{$c}__arrow-button {
        &-exit-active,
        &-exit-done {
          & ~ .#{$c}__arrow-icon {
            transform: translateX(12rem);

            &::after,
            &::before {
              height: 20px;

              @media (max-width: $tablet) {
                height: 15px;
              }
            }

            &::after {
              transform: translateY(-100%) rotate(-90deg);
            }

            &::before {
              transform: rotate(90deg);
            }
          }
        }
      }
    }

    // ==============================
    // ==============================
    // ==============================
  }

  &__controls {
    margin-top: 3.2rem;
    margin-bottom: 2.8rem;
    height: 1.7rem;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__controls-item {
    cursor: pointer;
    background-color: #3f3f3f;
    border-radius: 100%;
    height: 0.95rem;
    width: 0.95rem;

    transform-origin: center;

    transition: all 0.3s ease-in-out;

    box-shadow: 0px 0px 2px 1px rgba(black, 0.25);

    &.active {
      transform: scale(1.7);
      background-color: #6a6a6a;

      box-shadow: none;
    }

    &:not(:nth-child(1)) {
      margin-left: 1.7rem;
    }
  }

  &__test {
    position: absolute;
    display: block;
    top: 0;
    left: 50%;
    height: 50px;
    width: 100px;
    z-index: 1000;
  }
}

@keyframes image-slide-in {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes image-slide-out {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(100%);
  }
}
