.page-loader {
  position: fixed;
  height: 15px;
  top: 0;
  left: 0;
  right: 100vw;
  background-color: #6a6a6a;

  &-enter-active {
    animation: page-loading 800ms forwards cubic-bezier(0.75, 0, 0.25, 1);
  }
}

.testofsomething {
  position: fixed;
  height: 15px;
  top: 0;
  left: 0;
  right: 100vw;
  background-color: #6a6a6a;

  animation: page-loading 800ms forwards cubic-bezier(0.75, 0, 0.25, 1) infinite;
}
