.section-slider {
  height: 100vh;
  width: 100%;

  background-color: #444444;

  perspective: 1000px;

  overflow-x: hidden !important;

  &__frame {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow-y: scroll; // auto

    &::-webkit-scrollbar {
      background-color: #2a2a2a;
      width: 3px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: #6a6a6a;
      opacity: 0.3;
    }
  }

  &__frame-inner {
    position: relative;
    min-height: 100%;
  }

  &__granim {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;

    // backface-visibility: hidden;
  }

  &__section {
    min-height: 100%;
    min-width: 100%;
    height: 100vh;
    width: 100vw;
    position: absolute;
    left: 0;
    top: 0;
    backface-visibility: hidden;

    &.left {
      transform-origin: left center;

      &.section-slider__section {
        &-enter,
        &-enter-active,
        &-enter-done {
          z-index: 2;
          animation: fade-in-right 800ms forwards cubic-bezier(0.75, 0, 0.25, 1);
        }

        &-enter + .section-slider__section,
        &-enter-active + .section-slider__section,
        &-enter-done + .section-slider__section {
          z-index: 1;
          animation: fade-out-right 800ms forwards cubic-bezier(0.75, 0, 0.25, 1);
        }
      }
    }

    &.right {
      transform-origin: right center;

      &.section-slider__section {
        &-enter,
        &-enter-active,
        &-enter-done {
          z-index: 2;
          animation: fade-in-left 800ms forwards cubic-bezier(0.75, 0, 0.25, 1);
        }

        &-enter + .section-slider__section,
        &-enter-active + .section-slider__section,
        &-enter-done + .section-slider__section {
          z-index: 1;
          animation: fade-out-left 800ms forwards cubic-bezier(0.75, 0, 0.25, 1);
        }
      }
    }
  }
}
