@import '@styles/miscellaneous/variables.scss';

.header {
  // margin-top: 8rem;
}

.title {
  color: $header-color;
  font-size: 4.2rem;
  line-height: 6.1rem;
  font-weight: 700;
  letter-spacing: -2px;
  text-transform: lowercase;
  margin-bottom: 1rem;
}

.description {
  font-size: 1.825rem;
  font-family: Lato, 'Wix Madefor Display';
  line-height: 3.15rem;
  word-spacing: 0.5px;
  font-weight: 400;
}

.links {
  margin-top: 3.5rem;
  display: flex;
  gap: 1rem;
  justify-content: space-between;
}

.links_right,
.links_hide {
  display: flex;
  gap: 0.8rem;
}

.links_hide {
  @media (max-width: $tablet) {
    display: none;
  }
}

.main {
  margin-top: 3rem;
  margin-bottom: 6rem;
}
