.navbar {
  z-index: 1000;
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 75px;
  background-color: transparent;

  a,
  button {
    margin: 25px;
  }

  a {
    color: white;
  }
}
