.home {
  // background-color: rgb(116, 68, 68);
  background-color: #2a2a2a;
}

.about {
  // background-color: rgb(82, 116, 68);
  background-color: #2f2f2f;

  &__block {
    height: 150vh;
  }
}

.testpage {
  // background-color: rgb(68, 75, 116);
  background-color: #2a2a2a;
}

.somerandompage {
  // background-color: rgb(138, 88, 127);
  background-color: #2f2f2f;
}

.page__container {
  padding-top: 80px;
  max-width: 1010px;
  margin: 0 auto;
}
